<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>InnovaLift</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">InnovaLift</div>
                <nav class="nav">
                    <div class="burger-menu" id="burger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="nav_list">
                        <a href="equipment.html" class="nav_item">Equipment</a>
                        <a href="service.html" class="nav_item">Services</a>
                        <a href="contact.html" class="nav_item">Contacts</a>
                    </div>
                    
                </nav>
            </div>
        </div>
    </header>
    
    <section class="equip">
        <div class="container">
            <div class="title">EQUIPMENT</div>
            <div class="equip_inner">
                <div class="equip_item">    
                    <div class="equip_images">
                        <img src="assets/images/lift1-1.png" alt="" class="equip_img1">
                        <img src="assets/images/lift1-2.png" alt="" class="equip_img2">
                    </div>
                    <div class="equip_name">Passanger elevatorsem</div>
                </div>
                <div class="equip_item">    
                    <div class="equip_images">
                        <img src="assets/images/lift1-1.png" alt="" class="equip_img1">
                        <img src="assets/images/lift1-2.png" alt="" class="equip_img2">
                    </div>
                    <div class="equip_name">Passanger elevatorsem</div>
                </div>
                <div class="equip_item">    
                    <div class="equip_images">
                        <img src="assets/images/lift1-1.png" alt="" class="equip_img1">
                        <img src="assets/images/lift1-2.png" alt="" class="equip_img2">
                    </div>
                    <div class="equip_name">Passanger elevatorsem</div>
                </div>
                <div class="equip_item">    
                    <div class="equip_images">
                        <img src="assets/images/lift1-1.png" alt="" class="equip_img1">
                        <img src="assets/images/lift1-2.png" alt="" class="equip_img2">
                    </div>
                    <div class="equip_name">Passanger elevatorsem</div>
                </div>
                <div class="equip_item">    
                    <div class="equip_images">
                        <img src="assets/images/lift1-1.png" alt="" class="equip_img1">
                        <img src="assets/images/lift1-2.png" alt="" class="equip_img2">
                    </div>
                    <div class="equip_name">Passanger elevatorsem</div>
                </div>
                <div class="equip_item">    
                    <div class="equip_images">
                        <img src="assets/images/lift1-1.png" alt="" class="equip_img1">
                        <img src="assets/images/lift1-2.png" alt="" class="equip_img2">
                    </div>
                    <div class="equip_name">Passanger elevatorsem</div>
                </div>
                <div class="equip_item">    
                    <div class="equip_images">
                        <img src="assets/images/lift1-1.png" alt="" class="equip_img1">
                        <img src="assets/images/lift1-2.png" alt="" class="equip_img2">
                    </div>
                    <div class="equip_name">Passanger elevatorsem</div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer_inner">
                <div class="footer_contacts">
                    <div class="footer_title">
                        Контакты
                    </div>
                    <div class="footer_text">АДРЕС: ***********</div>
                    <div class="footer_text">ТЕЛЕФОН: 88888888</div>
                    <div class="footer_text">EMAIL: ***********</div>
                </div>
                <div class="footer_social">
                    <a href="#"><img src="assets/images/fb.png" alt=""></a>
                    <a href="#"><img src="assets/images/twitter.png" alt=""></a>
                    <a href="#"><img src="assets/images/yt.png" alt=""></a>
                </div>
                <div class="footer_nav">
                    <a href="index.html" class="nav_item">Главная</a>
                    <a href="equipment.html" class="nav_item">Оборудование</a>
                    <a href="service.html" class="nav_item">услуги</a>
                    <a href="contact.html" class="nav_item">контакты</a>
                </div>
            </div>
        </div>
    </footer>


    <script src="assets/js/script.js"></script>

</body>
</html>