<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>InnovaLift</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo"><img src="assets/images/logo.png" alt=""></div>
                <nav class="nav">
                    <div class="burger-menu" id="burger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="nav_list">
                        <a href="equipment.html" class="nav_item">Equipment</a>
                        <a href="service.html" class="nav_item">Services</a>
                        <a href="contact.html" class="nav_item">Contacts</a>
                    </div>
                    
                </nav>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="container">
            <div class="main_inner">
                <div class="main_content">
                    <div class="title">
                        Innovative Vertical 
                Transportation Solutions 
                    </div>
                    <div class="main_text">Lorem Ipsum is simply dummy 
                        text of the printing and typesetting 
                        industry. Lorem Ipsum has been the 
                        industry's standard dummy text ever since Lorem Ipsum is simply dummy 
                        text of the printing and typesetting 
                        industry. Lorem Ipsum has been the 
                        industry's standard dummy text ever since Lorem Ipsum is simply dummy 
                        text of the printing and typesetting 
                        industry. Lorem Ipsum has been the 
                        industry's standard dummy text ever since 
                        </div>
                    <a href="service.html" class="main_btn">View All Services</a>
                </div>
                <div class="main_img"><img src="assets/images/lift1-1.png" alt=""></div>
            </div>
        </div>
    </section>
    <section class="works">
        <div class="container">
            <div class="works_inner">
                <div class="title">OUR WORKS</div>
                <div class="works_content">
                    <div class="works_item">
                        <img src="assets/images/lift2-1.png" alt="" class="works_img">
                        <div class="works_name">MOSCOW</div>
                    </div>
                    <div class="works_item">
                        <img src="assets/images/lift2-1.png" alt="" class="works_img">

                        <div class="works_name">MOSCOW</div>
                    </div>
                    <div class="works_item">
                        <img src="assets/images/lift2-1.png" alt="" class="works_img">

                        <div class="works_name">MOSCOW</div>
                    </div>
                    <div class="works_item">
                        <img src="assets/images/lift2-1.png" alt="" class="works_img">

                        <div class="works_name">MOSCOW</div>
                    </div>
                    <div class="works_item">
                        <img src="assets/images/lift2-1.png" alt="" class="works_img">

                        <div class="works_name">MOSCOW</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partners">
        <div class="container">
            <div class="title">
                AUTHORIZED DEALERS AND DIRECT SUPPLIRES
            </div>
            <div class="partners_inner">
                <img src="assets/images/partner.png" alt="" class="partners_img">
                <img src="assets/images/partner.png" alt="" class="partners_img">
                <img src="assets/images/partner.png" alt="" class="partners_img">
                <img src="assets/images/partner.png" alt="" class="partners_img">
                <img src="assets/images/partner.png" alt="" class="partners_img">
                <img src="assets/images/partner.png" alt="" class="partners_img">
                <img src="assets/images/partner.png" alt="" class="partners_img">
                <img src="assets/images/partner.png" alt="" class="partners_img">
                
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer_inner">
                <div class="footer_contacts">
                    <div class="footer_title">
                        Контакты
                    </div>
                    <div class="footer_text">АДРЕС: ***********</div>
                    <div class="footer_text">ТЕЛЕФОН: 88888888</div>
                    <div class="footer_text">EMAIL: ***********</div>
                </div>
                <div class="footer_social">
                    <a href="#"><img src="assets/images/fb.png" alt=""></a>
                    <a href="#"><img src="assets/images/twitter.png" alt=""></a>
                    <a href="#"><img src="assets/images/yt.png" alt=""></a>
                </div>
                <div class="footer_nav">
                    <a href="index.html" class="footer_nav_item">Главная</a>
                    <a href="equipment.html" class="footer_nav_item">Оборудование</a>
                    <a href="service.html" class="footer_nav_item">услуги</a>
                    <a href="contact.html" class="footer_nav_item">контакты</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/js/script.js"></script>
</body>
</html>